parameters:
  level: max
  paths:
    - src
    - tests
    - ../examples/basic/gamemode.php
    - ../examples/commands/gamemode.php
    - ../examples/dialog/gamemode.php
    - ../examples/grandlarc/gamemode.php
    - ../examples/grandlarc/spawns.php
  scanFiles:
    - tests/phpstan-stubs.php
  tmpDir: ../build/phpstan
